h1 {
    color:#1E546E;
}

h1.h1-index {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F3F2FF;
}

header, footer {
    background-color: palegreen;
    text-align: center;
}

#select-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#select-menu a {
    padding: 5px;
    display: inline-block;
}

#main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
}