h1 {
    color:#1E546E;
}

h1.h1-index {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F3F2FF;
}

header, footer {
    background-color: palegreen;
    text-align: center;
}

