body {
    background-color: #F3F2FF;
}

/* Header 
--------------------------------------------*/
h1 {
    color:#1E546E;
    font-size: 30px;
}

header, footer {
    background-color: palegreen;
    text-align: center;
}

/* Navigation Bar 
--------------------------------------------*/
#select-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#select-menu a {
    padding: 5px;
    display: inline-block;
}

/* index.html 
--------------------------------------------*/
h1.h1-header {
    font-family: 'Montserrat', sans-serif;
}

#main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
}

/* courses.html 
--------------------------------------------*/
.courses-menu {
    flex-direction: column;
}

#courses-list {
    background-color: none;
}

.courses-list-content-top {
    border-bottom: white 3px groove;
    margin-bottom: 10px;
}
